{% extends "layout.html" %}

{% block title %}
    Generate
{% endblock %}

{% block main %}
<form action="/generate" method="post">
    <div class="mb-3">
        <p>Enter your desired program duration in minutes!</p>
        <p>You will get a program no more than 2 minutes over your request!</p>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="length" name="length" placeholder="Time" type="number" min="1" style="width: 10000px;">
    </div>
    <button class="btn btn-primary" type="submit">Generate</button>
</form>

{% endblock %}