{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!--There is no method specified. it should be ok
    Will leave div class mb3 for now-->
    <form action="/histroy" method="get">
        <div class="row justify-content-center">
            <p>
                <h2>Most Recent Program</h2>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>LABEL</th>
                        <th>FORMAT</th>
                        <th>NUMBER</th>
                        <th>PERIOD</th>
                        <th>COMPOSER</th>
                        <th>WORK</th>
                        <th>PERFORMERS</th>
                        <th>DURATION (IN MINUTES)</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Last two are straight list here. trying to go through each since there all same length-->
                    <!--totals|length gives its length. batch should make a new row every 5 items | batch(5, '&nbsp;'-->
                    {% for i in range(0, HISTORY_1|length) %}
                    <tr>
                        <td class="td">{{ HISTORY_1[i]["Label"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Format"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Number"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Period"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Composer"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Work"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Performers"] }}</td>
                        <td class="td">{{ HISTORY_1[i]["Time"] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td">Total Time: {{ TOTAL_TIME_1 }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                <h2>Program before the last</h2>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>LABEL</th>
                        <th>FORMAT</th>
                        <th>NUMBER</th>
                        <th>PERIOD</th>
                        <th>COMPOSER</th>
                        <th>WORK</th>
                        <th>PERFORMERS</th>
                        <th>DURATION (IN MINUTES)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, HISTORY_2|length) %}
                    <tr>
                        <td class="td">{{ HISTORY_2[i]["Label"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Format"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Number"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Period"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Composer"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Work"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Performers"] }}</td>
                        <td class="td">{{ HISTORY_2[i]["Time"] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td">Total Time: {{ TOTAL_TIME_2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}