{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
        <div class="row justify-content-center">
            <table>
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Format</th>
                        <th>Number</th>
                        <th>Period</th>
                        <th>Composer</th>
                        <th>Work</th>
                        <th>Performers</th>
                        <th>Duration (In Minutes)</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Last two are straight list here. trying to go through each since there all same length-->
                    <!--totals|length gives its length. batch should make a new row every 5 items | batch(5, '&nbsp;'-->
                    {% for i in range(0, program|length) %}
                    <tr>
                        <td class="td">{{ program[i]["Label"] }}</td>
                        <td class="td">{{ program[i]["Format"] }}</td>
                        <td class="td">{{ program[i]["Number"] }}</td>
                        <td class="td">{{ program[i]["Period"] }}</td>
                        <td class="td">{{ program[i]["Composer"] }}</td>
                        <td class="td">{{ program[i]["Work"] }}</td>
                        <td class="td">{{ program[i]["Performers"] }}</td>
                        <td class="td">{{ program[i]["Time"] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td"></td>
                        <td class="td">Total Time: {{ time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

{% endblock %}