{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div class="mb-3">
        <p>Enter your desired program duration in minutes!</p>
        <p>You will get a program no more than 2 minutes over your request!</p>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="length" name="length" placeholder="Time" type="number" min="10">
    </div>
    <button class="btn btn-primary" type="submit">Generate</button>
</form>
{% endblock %}