{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <!--Not sure how to get nice drop done like they have-->
            <select id="symbol" name="symbol" type="text">
                <option disabled selected>Symbol</option>
                {% for i in range(0, list_symbols|length) %}
                    <option value={{ list_symbols[i] }}>{{ list_symbols[i] }}</option>
                {% endfor %}
            </select>
            <!--The above code works so why is it red?-->
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="0">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}